body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/image/background3..gif");

 }

.container {
    width: 60%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(131, 127, 127, 0.1);
    margin-bottom: 20px;
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(227, 210, 229);
}
button {
    background-color: #884b9c;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #e5e7e8;
}

#resume {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(189, 183, 183, 0.1);
}




button {
    background-color: #884b9c;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}